ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #000000;
}
li {
  display: inline;
}
i a {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}
li a:hover {
  color: #FFC533;
}
.nav-container {
  display: flex;
  flex-direction: row;
}