 @media only screen and (max-width: 768px) {
  .mobilenav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  width: 100%;
  background-color: #000000;
  margin-left: -10px;
  padding-right: 18px;
  margin-top: -10px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.border {
  margin-top: -15px;
  width: 100%;
  height: 60px;
}
.sidepanel {
  height: 100%; /* Specify a height */
  width: 50%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #000000; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
.sidepanel a {
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 40px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidepanel a:hover {
  color: #FFC933;
}
.sidepanel a:active {
  color: #FFC933;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding-right: 10px;
  margin-top: -5px;
}
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  margin-top: -5px;
}
.openbtn:hover {
  color: #FFC933;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
.service {
  display: none;
}
.nav-logo {
  display: none;
}
nav {
  display: none;
}
ul {
 display: none;

}
li {
  display: none;
}
.logo {
  display: flex;
  align-content: right;
}
.butlersplumbingtext {
display: none;
}
.llcText {
display: none;
}
.container {
height: 100%;
display: flex;
align-content: center;
 justify-content: center;
}
.nameandimage {
  width: 400px;
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  align-content: center;
  justify-content: center;
}
#joeimage {
  margin-top: 10px;
  width: 350px;
  height: 300px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
p.mobile {
width: 400px;
text-align: center;
font-size:  17px;
font-family: "Cardo", serif;
font-weight: 400;
font-style: normal;
line-height: 30px;
color: black;
}
.blacksection {
display: none;
}
#mobileblack {
width: 100%;
height: 300px;
 position: relative;
 margin-top: 10px;
}
.mobilemiddle {
  position: absolute;
  color: white;
  margin-top: -280px;
  font-size:  17px;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 40px;
  padding-right: 40px;
}
.mobileheader {
  font-size: 33px;
  color: #38A7A7;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
p.mobilestart {
  color: white;
  text-align: center;
  font-size:  17px;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 30px;
}
h2 {
   font-size: 28px;
   text-align: center;
   font-family: "Fira Sans", sans-serif;
   font-weight: 700;
   font-style: normal;
   margin-bottom: 15px;
}
p.bio {
  display: none;
}
.middle {
 display: none;
}
.centered {
display: none;
}
.bottom {
display: none;
}
.footercontainer {
display: none;
}
.mobilefoot {
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-content: center;
 height: 100%;
 margin-top: 30px;
 margin-bottom: 20px;
}
.footertext {
text-align: left;
font-size:  17px;
font-family: "Cardo", serif;
font-weight: 400;
font-style: normal;
line-height: 30px;
color: black;
padding-left: 20px;
}
.facebookmobile {
  width: 80px;
  height: 80px;
}
}

 @media only screen and (min-width: 768px) {
  .mobilenav {
  display: none;
}
.border {
  display: none;
}
.mobileheader {
  display: none;
}
.mobilecenter {
  display: none;
}
.mobileimage {
  display: none;
}
.mobiletwobuttons {
  display: none;
}
.mobilestart {
  display: none;
}
#mobileblack {
  display: none;
}
.mobilefoot {
  display: none;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: #000000;
  margin-left: -10px;
  padding-right: 18px;
  margin-top: -10px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: nowrap;
  width: 100%;
}
.nav-logo {
  display: inline-flex;
  flex-direction: row;
}
.logo {
  margin-left: 25px;
  height: auto;
}
.butlersplumbingtext {
  color: #339494;
  font-size: 1.8vw;
  margin-left: 2px;
  margin-top: 35px;
}
#llc {
  color: #339494;
  font-size: 1.1vw;
  margin-left: 8px;
  margin-top: 43px;
}
nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: right;
  justify-content: right;
  margin-right: 15px;
  height: auto;
  flex-wrap: nowrap;
}
ul {
  list-style-type: none;
}
li {
  display: inline-flex;
  margin-left: 18px;
  margin-right: 18px;
  flex-wrap: nowrap;
}
li a {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 1.8vw;
}
li a:hover {
  color: #FFC533;
}
.container {
height: auto;
width: 100%;
}
.top {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.nameandimage {
  margin-top: 2vw;
  display: inline-flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  padding-left: 120px;
  padding-right: 120px;
}
@media only screen and (max-width: 1000px) {
.nameandimage {
  flex-wrap: wrap;
  margin-bottom: 100px;
}
#joeimage {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}
}
#joeimage {
  width: 350px;
  height: 300px;
}
h2 {
   font-size: 2.5vw;
   text-align: left;
   font-family: "Fira Sans", sans-serif;
   font-weight: 700;
   font-style: normal;
   margin-bottom: 15px;
}
.nametext {
  width: 100%;
  height: 100px;
  justify-content: center;
  margin-top: -2vw;
  padding-left: 30px;
}
p.mobile {
  display: none;
}
p.bio {
text-align: left;
display-wrap: wrap;
font-size:  1.5vw;
font-family: "Cardo", serif;
font-weight: 400;
font-style: normal;
line-height: 30px;
}
@media only screen and (max-width: 1000px) {
#blackdesk{
 width: 100%;
 max-height: 400px;
 position: relative;
}
#startedimage {
max-width: 250px;
max-height: 200px;
}
h2.bottomh2 {
padding-left: 150px;
font-size: 2.5vw;
font-family: "Fira Sans", sans-serif;
font-weight: 700;
margin-bottom: 40px;
}
.lasttext {
padding-left: 150px;
padding-right: 150px;
font-size:  1.5vw;
font-family: "Cardo", serif;
font-weight: 400;
margin-bottom: 50px;
margin-top: 30px;
}
}
.blacksection {
  width: 100%;
  position: relative;
  margin-top: 70px;
  display: flex;
  align-content: center;
  justify-content: center;
}
#blackdesk{
 width: 100%;
 height: 500px;
 position: relative;
}
.middle {
  display: inline-flex;
  width: 80%;
  position: absolute;
  padding-left: 100px;
  padding-right: 100px;
  top: 4vw;
 color: white;
  text-align: left;
  font-size:  1.5vw;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
}
h2.Experience{
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 33px;
  color: #339494;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.bottom {
margin-top: 50px;
}
h2.bottomh2 {
padding-left: 150px;
font-size: 2.5vw;
font-family: "Fira Sans", sans-serif;
font-weight: 700;
}
.startedimageandtext {
display: flex;
display-direction: row;
align-items: center;
justify-content: center;
width: 100%;
}
.startedtext {
padding-left: 150px;
font-size:  1.5vw;
font-family: "Cardo", serif;
font-weight: 400;
margin-top: -25px;
}
.startedimage {
padding-right: 150px;
margin-top: -70px;
}
#startedimage {
width: 340px;
height: 275px;
}
.lasttext {
padding-left: 150px;
padding-right: 150px;
font-size:  1.5vw;
font-family: "Cardo", serif;
font-weight: 400;
margin-bottom: 50px;
}
.bluetext {
background-color: #339494;
border-radius: 30px;
color: black;
font-size:  1.5vw;
font-family: "Cardo", serif;
font-weight: 400;
height: 80px;
text-align: center;
align-content: center;
padding-left: 15px;
padding-right: 15px;
margin: auto;
width: 50%;
}
.footercontainer {
margin-top: 50px;
border-top: 5px solid black;
margin-bottom: 30px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-content: center;
}
.threecolumn {
 display: flex;
 margin-top: 50px;
}
.contacttext {
font-size:  1.3vw;
line-height: 40px;
text-align: left;
margin-top: 0px;
font-family: "Cardo", serif;
font-weight: 400;
font-style: normal;
padding-left: 130px;
padding-right: 130px;
}
.facebookimage {
margin-bottom: -15px;
max-width: 40px;
max-height: 40px;
}
.footerlogo {
margin-top: -20px;
text-align: center;
padding-right: 45px;
align-content: center;
width: 100%;
height: auto;
}
.ButlersPlumbingTextfooter {
  color: black;
  font-size: 1.8vw;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
#LLC {
  color: black;
  font-size: 1.1vw;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.twobuttons {
width: 100%;
height: auto;
display: inline-block;
padding-left: 130px;
padding-right: 130px;
}
.button {
  background-color: white;
  border-color: black;
  border-radius: 15px;
  border-width: 3px;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 1.3vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.button:hover {
  background-color: #FFC533; 
  color: white;
  border-color: #FFC533;
}
}



