 @media only screen and (max-width: 768px) {
  .mobilenav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  width: 100%;
  background-color: #000000;
  margin-left: -10px;
  padding-right: 18px;
  margin-top: -10px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.border {
  margin-top: -15px;
  width: 100%;
  height: 60px;
}
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #000000; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
.sidepanel a {
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 40px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidepanel a:hover {
  color: #FFC933;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding-right: 10px;
  margin-top: -5px;
}
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  margin-top: -5px;
}
.openbtn:hover {
  color: #FFC933;
}
.openbtn:focus {
  color: #FFC933;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
.service {
  display: none;
}
.nav-logo {
  display: none;
}
nav {
  display: none;
}
ul {
 display: none;

}
li {
  display: none;
}
.logo {
display: flex;
align-content: right;
}
.butlersplumbingtext {
display: none;
}
.llcText {
display: none;
}
.nav-container {
display: none;
}
h2 {
display: none;
}
.blacksection {
display: none;
}
.personalinfo {
display: none;
}
.directions{
  font size: 3vw;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  text-align: center;
  background-color: #339494;
  border-radius: 5vw;
  color: black;
  height: 30px;
  padding-top: 2.3vw;
  padding-bottom: 2.3vw;
  padding-left: 1.3vw;
  padding-right: 1.3vw;
  width: 80%;
  margin-left: 50px;
}
.tabcontainer {
  display: flex;
  justify-content: center;
  align-content: center;
}
.tabcontent {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-content: center;
  font-size: 2vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  flex-wrap: wrap;
}
button#request {
  color: gray;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 5vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  text-align: center;
}
button#request:hover {
color: black;
}
button#request:focus{
color: black;
}
button#schedule:hover {
color: black;
}
button#schedule:focus {
color: black;
}
button#schedule {
  margin-left: 8px;
  color: gray;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 5vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  text-align: center;
}
.wrapper {
display: flex;
justify-content: center;
align-content: center;
margin-bottom: 10px;
width: 70%;
overflow: hidden;
margin-left: -30px;
}
form {
  width: 90vw;
  max-width: 20em;
  padding-top: 10px;
}
button {
  margin-top: 2rem;
}
input {
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 2px solid;
padding: 0.3em;
width: 100%;
padding-top: 15px;
}
textarea {
  width: 100%;
  min-height: 6em;
  resize: vertical;
  padding-top: 15px;
}
label {
  display: block;
  font-size: 3vw;
  margin-top: 1rem;
  width: 100%;
  padding-top: 15px;
}
select {
font-size: 1.8vw;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 2px solid;
  padding: 0.3em;
  width: 100%;
  padding-top: 7px;
}
#date{
  width: 120%;
  height: 32px;
}
#city {
  width: 120%;
  height: 22px;
}
#services {
 width: 120%;
 height: 32px;
}
#time {
 width: 120%;
 height: 32px;
}
#name {
 width: 120%;
 height: 22px;
}
#street-address {
width: 120%;
height: 22px;
}
#postal-code {
  width: 70%;
  height: 22px;
}
#phone {
width: 120%;
height: 22px;
}
#email {
width: 120%;
height: 22px; 
}
#inquiry {
width: 120%;
height: 90px;
border: 2px solid;
}
.submitandblue {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
width: 100%;
margin-top: 10px;
text-align: center;
}
button.submit {
  text-align: center;
  font-size: 5vw;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  height: auto;
}
button.submit:hover {
color: #FFC533;
}
#thank {
color: black;
font-size:  2.5vw;
font-family: "Cardo", serif;
font-weight: 700;
}
.bluetext {
background-color: #339494;
border-radius: 30px;
color: black;
font-size:  2.5vw;
font-family: "Cardo", serif;
font-weight: 400;
height: auto;
text-align: center;
align-content: center;
padding-left: 4vw;
padding-right: 4vw;
padding-top: 4vw;
padding-bottom: 4vw;
margin-left: 20vw;
margin-right: 20vw;
margin-bottom: 30px;
}
.footercontainer {
display: none;
}
.mborder {
  margin-top: 10px;
  width: 100%;
  height: 60px;
  transform: rotate(180deg)
}
.mobilebottom {
 display: flex;
 position: relative;
 flex-direction: row;
 justify-content: space-between;
 align-content: center;
 background-color: black;
 margin-top: 0px;
 height: 150px;
 width: 100%;
margin-left: -10px;
padding-right: 20px;
margin-bottom: -10px;
margin-top: -15px;
}
.twocolumn {
 display: inline-flex;
flex-direction: row;
 margin-top: 35px;
 width: 100%;
 justify-content: space-evenly;
 align-content: center;
}
#mobilecontact {
  color: white;
  font-style: normal;
  font-size:  2.5vw;
  font-family: "Cardo", serif;
  font-weight: 400;
  text-align: center;
}
#mobilefacebookimage {
  max-width: 60px;
  height: auto;
  margin-top: 15px;
}
}

 @media only screen and (min-width: 768px) {
.mobilenav {
  display: none;
}
.border {
  display: none;
}
.mobileheader {
  display: none;
}
.mobilecenter {
  display: none;
}
.mobileimage {
  display: none;
}
.mobiletwobuttons {
  display: none;
}
.directionsforcontactmobile {
  display: none;
}
.mobilebottom {
display: none;
}
.mborder {
display: none;
  }
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: #000000;
  margin-left: -10px;
  padding-right: 18px;
  margin-top: -10px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: nowrap;
  width: 100%;
}
.nav-logo {
  display: inline-flex;
  flex-direction: row;
}
.logo {
  margin-left: 25px;
  height: auto;
}
.butlersplumbingtext {
  color: #339494;
  font-size: 1.8vw;
  margin-left: 2px;
  margin-top: 35px;
}
#llc {
  color: #339494;
  font-size: 1.1vw;
  margin-left: 8px;
  margin-top: 43px;
}
nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: right;
  justify-content: right;
  margin-right: 15px;
  height: auto;
  flex-wrap: nowrap;
}
ul {
  list-style-type: none;
}
li {
  display: inline-flex;
  margin-left: 18px;
  margin-right: 18px;
  flex-wrap: nowrap;
}
li a {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 1.8vw;
}
li a:hover {
  color: #FFC533;
}
li a:focus {
  color: #FFC533;
}
h2 {
  font-size: 2.5vw;
   text-align: center;
   font-family: "Fira Sans", sans-serif;
   font-weight: 700;
   font-style: normal;
   margin-bottom: 15px;
   padding-top: 30px;
}
.blacksection {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
}
#blackimage {
 max-width: 100%;
 max-height: 350px;
 position: relative;
}
.personalinfo {
  display: inline-flex;
  width: 80%;
  position: absolute;
  flex-direction: row;
  padding-left: 8vw;
  padding-right: 8vw;
  top: 9vw;
  left: 2.5vw;
}
#circleprofileimage {
 max-width: 100%;
 height: auto;
 margin-top: -5vw;
}
.personaltext {
  color: white;
  text-align: left;
  font-size:  1.3vw;
  font-family: "Cardo", serif;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  padding-right: 30px;
}
.directions {
background-color: #339494;
border-radius: 3vw;
color: black;
font-size:  1.3vw;
font-family: "Cardo", serif;
font-weight: 400;
padding-top: 1.8vw;
padding-bottom: 1.8vw;
text-align: center;
align-content: center;
padding-left: 1.5vw;
padding-right: 1.5vw;
width: 30%;
margin-left: 32vw;
margin-top: 60px;
}
.tabcontainer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}
button#request {
  color: gray;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 2.5vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  text-align: center;
}
button#request:hover {
color: black;
}
button#request: focus {
color: black;
}
button#schedule:hover {
color: black;
}
button#schedule:focus {
color: black;
}
button#schedule {
  margin-left: 8px;
  color: gray;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 2.5vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  text-align: center;
}
.tabcontent {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  font-size:  1.3vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 30px;
}
.wrapper {
display: flex;
justify-content: center;
align-content: center;
margin-bottom: 50px;
width: 100%;
margin-right: 15vw;
}
form {
  width: 90vw;
  max-width: 20em;
}
button {
  margin-top: 2rem;
}
input {
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 2px solid;
padding: 0.3em;
width: 100%;
}
textarea {
  width: 100%;
  min-height: 6em;
  resize: vertical;
}
label {
  display: block;
  font-size: 1.1rem;
  margin-top: 1rem;
  width: 100%;
}
select {
 font-size:  1.1vw;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 2px solid;
 padding: 0.3em;
 width: 100%;
}
#date{
  width: 150%;
  height: 32px;
}
#city {
  width: 150%;
  height: 22px;
}
#services {
 width: 150%;
 height: 32px;
}
#time {
 width: 150%;
 height: 32px;
}
#name {
 width: 150%;
 height: 22px;
}
#street-address {
width: 150%;
height: 22px;
}
#postal-code {
  width: 70%;
  height: 22px;
}
#phone {
width: 150%;
height: 22px;
}
#email {
width: 150%;
height: 22px; 
}
#inquiry {
width: 150%;
height: 90px;
border: 2px solid;
}
.submitandblue {
 display: flex;
 flex-direction: row;
 justify-content: center;
align-content: center;
width: 100%;
margin-bottom: 80px;
text-align: center;
height: auto;
}
button.submit {
  background-color: white;
  color: black;
  border: none;
  text-align: center;
  font-size: 2.5vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
button.submit:hover{
  color: #FFC533;
}
#thank {
color: black;
font-size:  1.3vw;
font-family: "Cardo", serif;
font-weight: 700;
margin-top: 70px;
margin-left: 30px;
}
.bluetext {
background-color: #339494;
border-radius: 3vw;
color: black;
font-size:  1.3vw;
font-family: "Cardo", serif;
font-weight: 400;
padding-top: 1.8vw;
padding-bottom: 1.8vw;
text-align: center;
align-content: center;
padding-left: 1.5vw;
padding-right: 1.5vw;
width: 30%;
margin-left: 40px;
margin-top: 30px;
}
.footercontainer {
margin-top: 50px;
border-top: 5px solid black;
margin-bottom: 30px;
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
}
.threecolumn {
 display: flex;
 margin-top: 50px;
 justify-content: space-evenly;
}
.contacttext {
font-size:  1.3vw;
line-height: 40px;
text-align: left;
font-family: "Cardo", serif;
font-weight: 400;
font-style: normal;
padding-left: 130px;
padding-right: 130px;
}
.facebookimage {
margin-bottom: -15px;
max-width: 40px;
max-height: 40px;
}
.footerlogo {
margin-top: -20px;
text-align: center;
padding-right: 45px;
align-content: center;
width: 100%;
height: auto;
}
.ButlersPlumbingTextfooter {
  color: black;
  font-size: 1.8vw;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 250px;
}
#LLC {
  color: black;
  font-size: 1.1vw;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.twobuttons {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-left: 130px;
  padding-right: 130px;
  margin-top: 0px;
}
.button {
  background-color: white;
  border-color: black;
  border-radius: 15px;
  border-width: 3px;
  color: black;
  margin-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 1.3vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.button:hover {
  background-color: #FFC533; 
  color: white;
  border-color: #FFC533;
}
}