 @media only screen and (max-width: 768px) {
.mobilenav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  width: 100%;
  background-color: #000000;
  margin-left: -10px;
  padding-right: 18px;
  margin-top: -10px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.border {
  margin-top: -15px;
  width: 100%;
  height: 60px;
}
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #000000; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
.sidepanel a {
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 40px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidepanel a:hover {
  color: #FFC933;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding-right: 10px;
  margin-top: -5px;
}
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  margin-top: -5px;
}
.openbtn:hover {
  color: #FFC933;
}
.openbtn:focus {
  color: #FFC933;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
.nav-logo {
  display: none;
}
nav {
  display: none;
}
ul {
 display: none;

}
li {
  display: none;
}
.logo {
display: flex;
align-content: right;
}
.butlersplumbingtext {
display: none;
}
.llcText {
display: none;
}
.header {
display: none;
}
.accordion {
  display: none;
}
.panel {
  display: none;
}
h2.offer {
  display: none;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 30px;
}
.content {
  display: flex;
  justify-content: center;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
.slideimage {
padding-left: 80px;
padding-right: 80px;
margin-bottom: 20px;
align-content: center;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -120px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  color: black;
}
/* On hover, add a black background color with a little bit see-through */
.prev {
  color: #bbb;
}
.imagetext {
  color: blue;
  position: absolute;
  font-size: 2.5vw;
  padding: 8px 12px;
  margin-top: -110px;
  margin-left: 90px;
  text-align: left;
  width: 200px; 
  font-size: 3.6vw;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}
/* Caption text */
.captiontext {
  color: black;
  width: 350px;
  position: absolute;
  font-size: 2.5vw;
  padding: 10px 12px;
  text-align: center;
  margin-left: 45px;
  font-size:  2.5vw;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 2.5vw;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: 140px;
  margin-bottom: -30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  justify-content: space-between;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #339494;;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.cantfind {
width: 100%;
height: 200px;
padding: 30px;
padding-bottom: 90px;
margin-top: 50px;
border-radius: 15px 15px 0px 0px;
align-content: center;
justify-content: center;
}
h2.find {
color: black;
text-align: center;
font-size: 5vw;
font-family: "Fira Sans", sans-serif;
font-weight: 700;
}
p.cant {
color: black;
font-size:  2.5vw;
font-family: "Cardo", serif;
font-weight: 400;
margin-top: -10px;
margin-bottom: 30px;
text-align: center;
}
.onebutton {
text-align: center;
}
.buttoncant {
  background-color: white;
  border-color: black;
  border-radius: 15px;
  border-width: 3px;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  display: inline-block;
  font-size: 2.5vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.buttoncant:hover {
  background-color: #FFC533; 
  color: white;
  border-color: #FFC533;
}
.footercontainer {
display: none;
}
.button {
  background-color: white;
  border-color: black;
  border-radius: 15px;
  border-width: 3px;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  display: inline-block;
  font-size: 2.5vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.button:hover {
  background-color: #FFC533; 
  color: white;
  border-color: #FFC533;
}
.mborder {
  margin-top: -40px;
  width: 100%;
  height: 60px;
  transform: rotate(180deg)
}
.mobilebottom {
 display: flex;
 position: relative;
 flex-direction: row;
 justify-content: space-between;
 align-content: center;
 background-color: black;
 margin-top: -20px;
 height: 170px;
 width: 100%;
margin-left: -10px;
padding-right: 20px;
margin-bottom: -10px;
margin-top: -15px;
}
.twocolumn {
 display: inline-flex;
flex-direction: row;
 margin-top: 35px;
 width: 100%;
 justify-content: space-evenly;
 align-content: center;
}
#mobilecontact {
  color: white;
  font-style: normal;
  font-size:  2.5vw;
  font-family: "Cardo", serif;
  font-weight: 400;
  text-align: center;
}
#mobilefacebookimage {
  max-width: 60px;
  height: auto;
  margin-top: 15px;
}}

 @media only screen and (min-width: 768px) {
.mobilenav {
  display: none;
}
.border {
  display: none;
}
.mobileheader {
  display: none;
}
.mobilecenter {
  display: none;
}
.mobileimage {
  display: none;
}
.mobiletwobuttons {
  display: none;
}
.mobilebottom {
display: none;
}
.mborder {
display: none;
  }
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: #000000;
  margin-left: -10px;
  padding-right: 18px;
  margin-top: -10px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: nowrap;
  width: 100%;
}
.nav-logo {
  display: inline-flex;
  flex-direction: row;
}
.logo {
  margin-left: 25px;
  height: auto;
}
.butlersplumbingtext {
  color: #339494;
  font-size: 1.8vw;
  margin-left: 2px;
  margin-top: 35px;
}
#llc {
  color: #339494;
  font-size: 1.1vw;
  margin-left: 8px;
  margin-top: 43px;
}
nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: right;
  justify-content: right;
  margin-right: 15px;
  height: auto;
  flex-wrap: nowrap;
}
ul {
  list-style-type: none;
}
li {
  display: inline-flex;
  margin-left: 18px;
  margin-right: 18px;
  flex-wrap: nowrap;
}
li a {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 1.8vw;
}
li a:hover {
  color: #FFC533;
}
h2.offer {
 text-align: center;
 font-size: 2.5vw;
font-family: "Fira Sans", sans-serif;
font-weight: 700;
margin-bottom: 45px;
padding-top: 30px;
}
.slideshow-container {
  display: none;
}
button.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 20px;
  width: 60%;
  height: 80px;
  margin-left: 19vw;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size:  1.5vw;
  font-family: "Cardo", serif;
  font-weight: 400;
}
button.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  padding-left: 30px;
  color: white;
  float: right;
}
button.accordion.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  font-size: 15px;
  color: white;
  padding-left: 30px;
}
.panel {
  padding: 0 18px;
  background-color: white;
  height: auto;
  margin-left: 18vw;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  display: inline-flex;
  width: 60%;
}
.textprice {
diplay: flex;
align-content: center;
margin-left: 30px;
margin-right: 30px;
}
.price {
  color: #FFC533;
  background-color: black;
  border-radius: 11px;
  width: 150px;
  height: 30px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8vw;
  text-align: center;
  align-content: center;
  padding: 8px;
}
p {
  text-align: left;
  font-size:  1.5vw;
 font-family: "Cardo", serif;
 font-weight: 400;
}
.bottom {
  display: flex;
  width: 100%
  justify-content: center;
  align-content: center;
  padding-left: 100px;
}
@media only screen and (max-width: 1000px) {
 #aimage {
 max-width: 250px;
  height: auto;
}
}
#aimage {
 width: 400px;
  height: auto;
}
.cantfind {
width: 50%;
height: auto;
background-color: black;
margin-bottom: -50px;
padding: 30px;
margin-left: 22vw;
padding-bottom: 50px;
margin-top: 100px;
border-radius: 15px 15px 0px 0px;
align-content: center;
justify-content: center;
}
h2.find {
color: #339494;
font-size: 2.5vw;
font-family: "Fira Sans", sans-serif;
font-weight: 700;
text-align: center;
}
p.cant {
color: white;
font-size:  1.5vw;
font-family: "Cardo", serif;
font-weight: 400;
text-align: center;
}
.onebutton {
text-align: center;
}
.buttoncant {
  background-color: white;
  border-color: black;
  border-radius: 15px;
  border-width: 3px;
  color: black;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  display: inline-block;
  font-size: 1.5vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.button:hover {
  background-color: #FFC533; 
  color: white;
  border-color: #FFC533;
}
.footercontainer {
margin-top: 50px;
border-top: 5px solid black;
margin-bottom: 30px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-content: center;
}
.threecolumn {
 display: flex;
 margin-top: 50px;
 justify-content: space-evenly;
}
.contacttext {
font-size:  1.3vw;
line-height: 40px;
text-align: left;
margin-top: 0px;
font-family: "Cardo", serif;
font-weight: 400;
font-style: normal;
padding-left: 130px;
padding-right: 130px;
}
.facebookimage {
margin-bottom: -15px;
width: 40px;
height: 40px;
}
.footerlogo {
margin-top: -20px;
text-align: center;
padding-right: 45px;
align-content: center;
width: 100%;
height: auto;
}
.ButlersPlumbingTextfooter {
  color: black;
  font-size: 1.8vw;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 250px;
}
#LLC {
  color: black;
  font-size: 1.1vw;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.twobuttons {
width: 100%;
height: auto;
display: inline-block;
padding-left: 130px;
padding-right: 130px;
}
.button {
  background-color: white;
  border-color: black;
  border-radius: 15px;
  border-width: 3px;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 1.3vw;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.button:hover {
  background-color: #FFC533; 
  color: white;
  border-color: #FFC533;
}
}

